@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    text-align: center;
    margin-top: 2em;
    // margin: 2em 20em auto 20em;
    
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

h1 {
    font-size: 4em;
    padding: .5em;
}

h2 {
    font-size: 3em;
    padding: .5em;
}

.game-instructions {
    display: flex;
    margin-top: .5em;
    // flex-wrap: wrap;
    justify-content: space-evenly;
    // border: 1px solid black;
}

.instructions-modal, .controls-modal {
    display: none;
}

.instructions:hover .instructions-modal {
    display: block;
}

.controls:hover .controls-modal {
    display: block;
}

.gradient-text {
    font-family: 'Style Script', cursive;;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(49, 108, 218) 0%, #f47eff 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#gameCanvas {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    background: rgb(44, 44, 138);
};


footer {
    padding-top: 60vh;
}